In [1]:

import pandas as pd
import requests, json

date = '20250201'
stock_no = '2317'

html = requests.get('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=%s&stockNo=%s' % (date,stock_no))
content = json.loads(html.text)
stock_data = content['data']
col_name = content['fields']

df = pd.DataFrame(data=stock_data, columns=col_name)
df.head(20)

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,114/02/03,"168,103,694","27,880,932,586",164.00,168.00,163.50,165.50,-14.50,"203,537"
1,114/02/04,"68,458,788","11,379,696,528",167.00,169.00,165.00,165.00,-0.50,"73,349"
2,114/02/05,"53,304,973","9,033,062,898",167.00,171.50,167.00,171.00,+6.00,"42,917"
3,114/02/06,"41,060,652","7,081,097,296",172.50,174.00,171.00,173.00,+2.00,"31,971"
4,114/02/07,"52,118,210","9,202,320,428",175.00,178.00,174.00,178.00,+5.00,"44,998"
5,114/02/10,"37,723,196","6,590,892,944",176.00,176.50,174.00,174.00,-4.00,"48,491"
6,114/02/11,"71,048,641","12,782,953,142",178.00,182.00,176.00,179.00,+5.00,"48,761"
7,114/02/12,"42,666,219","7,608,185,758",181.50,181.50,177.00,177.00,-2.00,"63,003"
8,114/02/13,"40,596,733","7,259,602,358",177.00,181.00,177.00,180.00,+3.00,"24,848"
9,114/02/14,"26,925,038","4,808,438,797",180.00,180.50,177.50,178.00,-2.00,"25,657"
10,114/02/17,"47,251,327","8,577,655,581",179.50,182.50,179.00,182.50,+4.50,"34,023"
11,114/02/18,"27,184,244","4,958,070,370",183.00,184.00,181.00,183.50,+1.00,"22,580"
12,114/02/19,"34,718,548","6,365,069,852",183.50,184.50,182.00,183.00,-0.50,"27,652"

In [4]:
import pandas as pd
import requests
import json
from datetime import datetime, timedelta

def fetch_stock_data(stock_no, start_date, end_date):
    all_data = []

    # 逐月抓取數據
    current_date = datetime.strptime(start_date, "%Y%m%d")
    end_date = datetime.strptime(end_date, "%Y%m%d")

    while current_date <= end_date:
        date_str = current_date.strftime("%Y%m%d")  # 轉換成 YYYYMMDD 格式
        url = f'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date={date_str}&stockNo={stock_no}'

        response = requests.get(url)
        if response.status_code == 200:
            content = json.loads(response.text)
            if 'data' in content and 'fields' in content:
                stock_data = content['data']
                col_name = content['fields']

                df = pd.DataFrame(data=stock_data, columns=col_name)
                all_data.append(df)

        # 移動到下一個月
        next_month = current_date.month % 12 + 1
        next_year = current_date.year + (1 if current_date.month == 12 else 0)
        current_date = datetime(next_year, next_month, 1)

    # 合併所有 DataFrame
    if all_data:
        final_df = pd.concat(all_data, ignore_index=True)
        return final_df
    else:
        return None

# 設定查詢範圍
stock_no = '2454'
start_date = '20240101'
end_date = '20250131'

df = fetch_stock_data(stock_no, start_date, end_date)

if df is not None:
    print(df.head(20))  # 顯示前 20 筆資料
    df.to_csv(f"{stock_no}_{start_date}_{end_date}.csv", index=False)  # 存成 CSV 檔案
else:
    print("無法獲取股票數據")

           日期        成交股數            成交金額       開盤價       最高價     最低價     收盤價  \
0   113/01/02  10,668,557  10,539,569,604  1,010.00  1,015.00  980.00  981.00
1   113/01/03  13,403,900  12,879,381,226    976.00    977.00  953.00  953.00
2   113/01/04   9,628,243   8,961,976,323    940.00    947.00  922.00  928.00
3   113/01/05   5,851,876   5,418,281,372    929.00    935.00  921.00  921.00
4   113/01/08   6,035,931   5,581,861,138    930.00    936.00  918.00  920.00
5   113/01/09   5,893,697   5,489,896,904    938.00    940.00  926.00  928.00
6   113/01/10   4,380,442   4,054,858,477    935.00    935.00  922.00  924.00
7   113/01/11   7,008,030   6,482,779,978    932.00    937.00  920.00  920.00
8   113/01/12   4,936,513   4,561,920,934    920.00    929.00  916.00  926.00
9   113/01/15   4,413,758   4,080,345,389    935.00    935.00  919.00  922.00
10  113/01/16  11,367,477  10,254,923,229    915.00    917.00  895.00  895.00
11  113/01/17  12,081,845  10,707,584,168    890.00    903.00  879.00  879.00
12  113/01/18   6,915,744   6,173,380,276    884.00    897.00  884.00  897.00
13  113/01/19   9,409,813   8,600,857,759    920.00    920.00  907.00  920.00
14  113/01/22   9,745,086   9,050,768,641    928.00    943.00  920.00  922.00
15  113/01/23   6,388,646   5,841,194,585    918.00    922.00  909.00  911.00
16  113/01/24   8,378,719   7,791,599,313    916.00    936.00  915.00  936.00
17  113/01/25   9,340,986   8,802,170,010    939.00    950.00  933.00  943.00
18  113/01/26   5,458,694   5,095,110,405    936.00    939.00  928.00  936.00
19  113/01/29   7,208,528   6,734,392,277    945.00    945.00  926.00  938.00

      漲跌價差    成交筆數
0   -34.00  33,320
1   -28.00  36,634
2    X0.00  26,322
3    -7.00  14,629
4    -1.00  13,205
5    +8.00   9,566
6    -4.00   8,327
7    -4.00  11,674
8    +6.00   9,685
9    -4.00   9,604
10  -27.00  37,490
11  -16.00  30,859
12  +18.00  11,614
13  +23.00  13,964
14   +2.00  15,392
15  -11.00  14,619
16  +25.00  13,468
17   +7.00  16,055
18   -7.00  10,429
19   +2.00  10,747